doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Akheel K M is a Web developer and a Computer Science student who is currently studying at Model Engineering College, Kochi. He is primarily interested in Web development, is an Arsenal fan, and likes watching Game of Thrones.')
    meta(name='author', content='Akheel K M')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='Akheel K M is a Web developer and a Computer Science student who is currently studying at Model Engineering College, Kochi. He is primarily interested in Web development, is an Arsenal fan, and likes watching Game of Thrones.')
    meta(property='og:image', content='http://akheel.in/images/dp.jpg')
    title Akheel K M | Personal Website
    meta(name='theme-color', content='#eb298c')
    link(rel='stylesheet', href='/stylesheets/home.css')
  body
    header
      img.avatar(src='/images/dp.jpg')
      h1.title Akheel K M
    main
      p.description
        | I am a Web developer and a Computer Science student who is currently studying at Model Engineering College, Kochi. I am primarily interested in Web development, is an Arsenal fan, and likes watching Game of Thrones.
      section.social
        a(target='_blank', href='http://stackoverflow.com/users/1095682/akheel-k-m', title='stackoverflow profile')
          .icon.so
        a(target='_blank', href='https://github.com/akheelkm007/', title='github profile')
          .icon.gh
        a(target='_blank', href='mailto:akheelkm007@gmail.com', title='email link')
          .icon.mail
        a(target='_blank', href='https://in.linkedin.com/in/akheel-k-m-64b679a3', title='linkedIn profile')
          .icon.linkedin
    footer
      p.copyright © Copyright 2016 Akheel K M
      p.license
        | Icons made by 
        a(href='http://www.flaticon.com/authors/flat-icons', title='Flat Icons') Flat Icons
        |  is licensed by 
        a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC 3.0 BY
  link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
